<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DynProj_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo_01</display-name>
    <servlet-name>ServletDemo_01</servlet-name>
    <servlet-class>com.dxc.servlet.ServletDemo_01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo_01</servlet-name>
    <url-pattern>/Sd1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo_02</display-name>
    <servlet-name>ServletDemo_02</servlet-name>
    <servlet-class>com.dxc.servlet.ServletDemo_02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo_02</servlet-name>
    <url-pattern>/sd1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo_02</display-name>
    <servlet-name>Demo_02</servlet-name>
    <servlet-class>com.dxc.servlet.Demo_02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo_02</servlet-name>
    <url-pattern>/Demo_02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReqResponse</display-name>
    <servlet-name>ReqResponse</servlet-name>
    <servlet-class>com.dxc.servlet.ReqResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqResponse</servlet-name>
    <url-pattern>/ReqResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.dxc.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>com.dxc.servlet.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginExcercise</display-name>
    <servlet-name>LoginExcercise</servlet-name>
    <servlet-class>com.dxc.servlet.LoginExcercise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginExcercise</servlet-name>
    <url-pattern>/LoginExcercise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginExercise</display-name>
    <servlet-name>LoginExercise</servlet-name>
    <servlet-class>com.dxc.servlet.LoginExercise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginExercise</servlet-name>
    <url-pattern>/LoginExercise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginRedirect</display-name>
    <servlet-name>LoginRedirect</servlet-name>
    <servlet-class>com.dxc.servlet.LoginRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginRedirect</servlet-name>
    <url-pattern>/LoginRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.dxc.servlet.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SucessServlet</display-name>
    <servlet-name>SucessServlet</servlet-name>
    <servlet-class>com.dxc.servlet.SucessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SucessServlet</servlet-name>
    <url-pattern>/Sucess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login11</display-name>
    <servlet-name>Login11</servlet-name>
    <servlet-class>com.dxc.servlet.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login11</servlet-name>
    <url-pattern>/Login11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.dxc.servlet.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JdbcServlet</display-name>
    <servlet-name>JdbcServlet</servlet-name>
    <servlet-class>com.dxc.servlet.JdbcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcServlet</servlet-name>
    <url-pattern>/jdbc</url-pattern>
  </servlet-mapping>
</web-app>